<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <meta charset="utf-8">
  <title><%= title %></title>
</head>

<body>
  <script>
    var title = "<%= title %>"; // we will pick up global variable in App.js
  </script>
  <script src="javascripts/bundle.js"></script>
</body>

</html>

